.roadmapContainer {
  background-image: url(assets/images/collectionBg.jpg);
  background-color: #c2faff !important;
  padding: 2rem 0;
}

.roadmapContentContainer {
  display: flex;
  flex-direction: column;
}

.roadmapTitle {
  color: #da3138;
  font-size: 3rem;
  font-family: "Alfa Slab One", cursive;
  text-shadow: 0px 2px 0px rgba(100, 100, 100, 0.498039);
  margin-bottom: 30px;
  text-align: center;
}

.roadmapImage {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
