body .accordionTitleContainer {
  color: #fff;
  background: #da3138;
  border: 3px solid #bf0910;
  border-radius: 1rem !important;
  margin: 1.25rem 0;
}

body .accordionTitleContainer svg {
  color: #fff;
}

#panel1bh-content > div > p {
  font-weight: 200;
}
