.mintContainer {
  min-height: 100vh;
  background-image: url("../../assets//images/mint-bg.svg");
  background-size: cover;
  background-position: center 35%;
  padding: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mintOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 60%,
    rgba(193, 250, 255, 1) 100%
  );
}

.contentContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.mintedContainer {
  flex: 1;
  margin: 2rem 0;
  position: relative;
  min-width: unset;
}

/* .mintedPreview {
  max-width: 350px;
  width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .mintedContainer::after {
  content: "";
  background-image: url("assets/images/bickFrame.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 104%;
  height: 105%;
  display: block;
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  bottom: -0.5rem;
} */

@media only screen and (min-width: 800px) {
  .contentContainer {
    justify-content: space-evenly;
  }

  .mintedContainer {
    min-width: 38.5rem;
  }
}

@media only screen and (min-width: 1080px) {
  .mintedContainer {
    margin: 0 2rem;
  }
}
